<h1>Events</h1>

<% Event.upcoming.each do |event| %>
  <p>Upcoming events:</p>
  <li><%= link_to "#{event.name}", event %></li>
<% end %>

<% Event.past.each do |event| %>
  <p>Past events:</p>
  <li><%= link_to "#{event.name}", event %></li>
<% end %>